image: docker:latest

services:
  - docker:dind

variables:
  REGISTRY: "docker.io"
  REGISTRY_USER: "robpco"
  RELEASE_IMAGE: "nginx-uwsgi"
  RELEASE_TAG: "latest"
  REGISTRY_IMAGE: "${REGISTRY}/${REGISTRY_USER}/${RELEASE_IMAGE}"

before_script:
  - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD"
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

build27:
  stage: build
  script:
    - docker pull "${REGISTRY_IMAGE}:2.7" || true
    - docker build --cache-from "${REGISTRY_IMAGE}:2.7" --tag "${REGISTRY_IMAGE}:2.7" --tag "${REGISTRY_IMAGE}:py2.7" --tag "${REGISTRY_IMAGE}:python2.7" ./python2.7/
    - docker push "${REGISTRY_IMAGE}:2.7"
    - docker push "${REGISTRY_IMAGE}:py2.7"
    - docker push "${REGISTRY_IMAGE}:python2.7"
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^deploy+/
    refs:
      - schedules
      - master
  retry: 2

build36:
  stage: build
  script:
    - docker pull "${REGISTRY_IMAGE}:3.6" || true
    - docker build --cache-from "${REGISTRY_IMAGE}:3.6" --tag "${REGISTRY_IMAGE}:3.6" --tag "${REGISTRY_IMAGE}:py3.6" --tag "${REGISTRY_IMAGE}:python3.6" ./python3.6/
    - docker push "${REGISTRY_IMAGE}:3.6"
    - docker push "${REGISTRY_IMAGE}:py3.6"
    - docker push "${REGISTRY_IMAGE}:python3.6"
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^deploy+/
    refs:
      - schedules
      - master
  retry: 2

build27-alpine:
  stage: build
  script:
    - docker pull "${REGISTRY_IMAGE}:2.7-A" || true
    - docker build --cache-from "${REGISTRY_IMAGE}:2.7-A" --tag "${REGISTRY_IMAGE}:2.7-A" --tag "${REGISTRY_IMAGE}:py2.7-alpine" --tag "${REGISTRY_IMAGE}:python2.7-alpine" ./python2.7-alpine/
    - docker push "${REGISTRY_IMAGE}:2.7-A"
    - docker push "${REGISTRY_IMAGE}:py2.7-alpine"
    - docker push "${REGISTRY_IMAGE}:python2.7-alpine"
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^deploy+/
    refs:
      - schedules
      - master
  retry: 2

build36-alpine:
  stage: build
  script:
    - docker pull "${REGISTRY_IMAGE}:3.6-A" || true
    - docker build --cache-from "${REGISTRY_IMAGE}:3.6-A" --tag "${REGISTRY_IMAGE}:3.6-A" --tag "${REGISTRY_IMAGE}:py3.6-alpine" --tag "${REGISTRY_IMAGE}:python3.6-alpine" ./python3.6-alpine/
    - docker push "${REGISTRY_IMAGE}:3.6-A"
    - docker push "${REGISTRY_IMAGE}:py3.6-alpine"
    - docker push "${REGISTRY_IMAGE}:python3.6-alpine"
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^deploy+/
    refs:
      - schedules
      - master
  retry: 2
